@import "null.css"; 
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
.car__container {
	max-width: 1020px;
	margin: 0 auto;
	padding: 400px 100px 100px 100px;
}
.car__roof {
}
.roof-car {
	width: 350px;
	height: 300px;
	border-radius: 50%;
	background-color: yellow;
	position: relative;
	z-index: 1;
	top:150px;
	left: 170px;
}
.roof-car__circle {
	width: 340px;
	height: 290px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	z-index: 1;
	top:5px;
	left: 5px;

}
.car__body {

}
.body-car {
	width: 600px;
	height: 200px;
	background-color: gray;
	border-radius:300px 150px 10px 20px;
	position: relative;
	z-index: 3;
}
.body-car__lamp{
	width: 90px;
	height: 40px;
	border-radius: 50%;
	background-color: rgb(238, 166, 59);
	position: absolute;
	top: 40px;
	left:50px;
	transform: rotate(-35deg);
}
.body-car__bamper {
	width: 30px;
	height: 15px;
	background-color: red;
	position: absolute;
	bottom: 60px;
	left: 15px;
	border-radius: 20px;
}
.body-car__back-lamp {
	width: 25px;
	height: 50px;
	background-color: red;
	position: absolute;
	bottom: 70px;
	right: 10px;
	border-radius: 20px;
}
.body-car__ring-wheel {
	width: 130px;
	height: 130px;
	background-color: #fff;
	border-radius: 50%;
	
}
.body-car__ring-wheel__left {
	position: absolute;
	bottom: -65px;
	left: 40px;
}
.body-car__wheel {
	width: 120px;
	height: 120px;
	background-color: black;
	border-radius: 50%;

}
.body-car__wheel_left {
	position: absolute;
	bottom: 5px;
	left: 5px;

}
.body-car__disk {
	width: 50px;
	height: 50px;
	background-color: #fff;

}
.body-car__disk_left {
	position: absolute;
	top: 35px;
	left: 35px;
}

/* ================================================================================== */
.body-car__ring-wheel__right {
	position: absolute;
	bottom: -65px;
	right: 35px;
}
.body-car__wheel_right {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.body-car__disk_right {
	position: absolute;
	top: 35px;
	left: 35px;
}


